*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-primary{
    background-color: rgb(253,110,10);
    
    
}
.color-primary{
    color: rgb(253,110,10);
}
.bg-primary a{
    color: white;
    font-weight: lighter;
}
.btn{
    padding: 8px 16px;
    border-color:  rgb(253,110,10);
    color: black;
    border-radius: 5px;
    text-wrap: nowrap;
    cursor: pointer;

}


/* nav bar styles down here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 200px;
    background-color: rgb(255,255,255);
}
nav .title{
    font-size: 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin: 0 5px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
/* nav bar up here */
/* ============================================================================= */
/* banner styles down here */
.banner-container{
    padding: 50px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-details{
    width: 50vw;
    padding: 0px 20px;
}
.title{
    font-size: 26px;
    padding: 10px 0px;
}
.name{
    font-size: 46px;
    padding: 10px 0px;
}
.description{
    font-size: 18px;
    font-weight: lighter;
    padding: 10px 0px;
}
.banner-details button{
    margin-right: 20px;
}
.banner-photo-container{
    width: 50vw;

    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    
}
.banner-photo{
    width: 360px;
    display: block;
    /* margin: 0px auto; */
    margin-left: auto;
}

/* banner styles up here */
/* ============================================================================ */
/* about me styles down here */
.about-me-section{
    margin: 50px 200px;
    background-color: rgb(255,248,243);
}
.about-me-container{
    width: 50vw;
    margin: auto;

    padding: 60px;    
    text-align: center;

}
.my-info{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}
/* about me styles up here */
/* ============================================================================ */
/* what I Do section styles down here */

.whatIdo-container{
    margin: 50px 200px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}
.whatIdo-description{
    text-align: center;
}
.whatIdo-skils{
    
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.card{
    padding: 10px 15px;
    box-shadow: 5px 7px 6px gray;

    border: 1px solid gray;
    border-radius: 10px;
}
.card-title{
    font-size: 22px;
    margin: 10px 0px;
}
.card-description{
    font-size: 18px;
    text-align: justify;
}
/* what I Do section styles up here */
/* ========================================================================= */
/* resume section style down here */
.resume-section{
    margin: 70px 200px;
    
}
.resume-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    margin-top: 30px;
}
.myEducation-container{
    width: 50vw;
}
.myEducation{
    margin-top: 15px;
    padding: 0px 20px;

}
.section-title{
    font-size: 26px;
    text-align: center;
}
.resume-title{
    font-size: 18px;
    margin-top: 5px;

}
.resume-subTitle{
    font-size: 18px;
    color: grey;
    
}
.resume-description{
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.myExperience-container{
    width: 50vw;
}

/* resume section style up here */



@media screen and (max-width: 576px) {
    /* nav bar styles down here */
    nav{
        flex-direction: column;
        gap: 30px;
        
    }
/* nav bar styles up here */
/* ============================================================================ */
/* banner styles down here */
    .banner-container{
        flex-direction: column-reverse;
        
    }
    .banner-photo-container{
        width: 100vw;
    }
    .banner-photo{
        width: 360px;
        margin: 0 auto;
    }
    .banner-details{
        width: 100vw;

        margin-top: 50px;
    }
 /* banner styles up here */
 /* ======================================================================= */
 /* abour me section down here  */
    
    .about-me-section{
        width: 90vw;
        margin: 0px auto;
       
    }
    .about-me-container{
        width: 90vw;
        margin: auto;
        padding: 20px;    
          
    }
    .my-info{
        flex-direction: column;
        gap: 20px;
    }
 /* abour me section up here  */
/* ============================================================================== */
/* what I Do section styles down here */

.whatIdo-container{
    width: 90vw;
    margin: 50px auto;
    
}

.whatIdo-skils{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
/* what I Do section styles up here */
/* ============================================================================= */
 /* resume section style down here */
.resume-section{
    width: 90vw;

    margin: auto;
    
}
.resume-container{
    
    flex-direction: column;
    
    align-items: center;
    

}
.myEducation-container{
    width: 90vw;
}

.section-title{
 
    text-wrap: nowrap;
}

.myExperience-container{
    width: 90vw;
    margin: auto;
}

/* resume section style up here */


}
